/*页面通用样式*/
body{
	font:12px "微软雅黑",Arial,Helvetica,sans-serif;
	color:#666;
	margin:0;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}
.lf{
	float:left;
}
.rt{
	float:right;
}
.clr{
	clear:both;
}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#ff0700;
	text-decoration:underline;
}
img{
	/***解决基线问题**/
	vertical-align:top;
}